<div class="table-title">
  <div class="row">
    <div class="col md-6">
      <h2>Adauga o persoana</h2>
    </div>
  </div>
</div>

<hr>
<form (ngSubmit)="save()" [formGroup]="peopleForm" class="col-md-5 mt-5">
  <div class="form-group">
    <label for="firstName">
      Prenume
    </label>
    <input id="firstName" type="text" formControlName="firstName" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="lastName">
      Nume
    </label>
    <input id="lastName" type="text" formControlName="lastName" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="birthDate">
      Data nasterii
    </label>
    <input id="birthDate" type="text" formControlName="birthDate" class="form-control" placeholder="YYYY-mm-dd">
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!peopleForm.valid">Adauga</button>

</form>